* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display:block;
}

html {
  scroll-behavior: smooth;
}

/* FOR STICKY FOOTER */

.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
	flex-grow: 1;
}

/* END STICKY FOOTER */

#about {
	flex-grow: 1;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	padding: 2%;
	justify-content: center;
	align-items: center;
}

.snip1155 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  font-weight: 500;
}
.snip1155 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1155 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 2em;
  padding: 0;
}
.snip1155 a {
  display: inline-block;
  padding: 0.5em 17px;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.snip1155 a:before {
  left: 20%;
  right: 20%;
  top: 50%;
  content: '';
  border-left: 12px solid #9b59b6;
  border-right: 12px solid #9b59b6;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 3px;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1155 a:hover,
.snip1155 .current a {
  color: green;
}
.snip1155 a:hover:before,
.snip1155 .current a:before {
  left: 0;
  right: 0;
  opacity: 1;
}

.title {
	font-family: "Montserrat";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	letter-spacing: 1px;
}

.container h1 , .container h2 {
	background-image: url("images/vortex.gif");
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
	margin: 10px 0;
}

.nav-btn {
    width: 26px;
    height: 30px;
    position: fixed;
    display: block;
    cursor: pointer;
    right: 20px;
    z-index: 999999;
    margin-top: 10px;
}
.nav-btn span, .nav-btn span:before, .nav-btn span:after {
    position: absolute;
    height: 2px;
    width: 26px;
    background-color: #fff;
    transition: all 0.2s;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}
.nav-btn span {
    top: 50%;
}
.nav-btn span:before {
    content: '';
    top: -6px;
}
.nav-btn span:after {
    content: '';
    top: 6px;
}
.nav-btn.open span, .nav-btn.open span:before, .nav-btn.open span:after {
    background-color: #fff;
}
.nav-btn.open span {
    transform: translateX(-5px);
    background-color: #111;
}
.nav-btn.open span:before, .nav-btn.open span:after {
    transform-origin: 0 50%;
}
.nav-btn.open span:before {
    transform: translateX(4px) translateY(-3px) rotate(45deg);
}
.nav-btn.open span:after {
    transform: translateX(4px) translateY(3px) rotate(-45deg);
}

nav {
    position: fixed;
    top: 0;
    right: -40%;
    height: 100vh;
    width: 30%;
    max-width: 100%;
    background-color: green;
    transition: all 0.3s;
    z-index: 99999;
}
nav ul {
    list-style: none;
    position: absolute;
    top: 100px;
    left: 50px;
}
nav ul li {
    margin-top: 50px;
    font-size: 40px;
    font-weight: 500;
    margin-left: 300px;

    transition: all 0.3s ease-in-out;
}
nav ul li:first-child {
    transition-delay: 0.1s;
}
nav ul li:nth-child(2) {
    transition-delay: 0.2s;
}
nav ul li:nth-child(3) {
    transition-delay: 0.3s;
}
nav ul li:nth-child(4) {
    transition-delay: 0.4s;
}
nav.open ul li {
    margin-left: 0;
}
nav ul li a {
    text-decoration: none;
    color: #ddd;
}
nav ul li a:hover {
    color: #fff;
}

 nav.open {
    right: 0;
}

nav {
background-color: #001426;
padding: 2% 0;
}

header {
  background-color: green;
  text-align: center;
}

header img {
  padding: 1%;
}

header nav a {
text-decoration: none;
color: white;
margin: 0 20px;
text-align: center;
padding: 2% 0;
}

header nav ul li {
display: inline;
margin: 0 auto;
padding: 2% 0;
text-align: center;
text-decoration: none;
font-size: 2em;
font-family: 'Roboto Condensed', sans-serif;
}

.container h1 {
  font-size: 2em;
}

.container h2 {
  font-size: 1.5em;
}

.container {
  background-color: green;
  opacity: 5%;
  width:1200px;
  max-width: 100%;
  height: 100%;

}

.parallax {
  /* The image used */
  background-image: url("images/forest.png");

  /* Set a specific height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* For homepage 3D image */

.cd-background-wrapper {
  background-color: #001426;
  position: relative;
  overflow: hidden;
  -webkit-perspective: 4000px;
  perspective: 4000px;
}

.cd-floating-background {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-floating-background.is-absolute {
  position: absolute;
}
.cd-floating-background img {
  display: block;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* fixes a Firefox bug - images not correctly rendered*/
  background-color: rgba(255, 255, 255, 0.01);
}
.cd-floating-background img:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}
.cd-floating-background img:first-child {
  -webkit-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  transform: translateZ(50px);
}
.cd-floating-background img:nth-child(2) {
  -webkit-transform: translateZ(290px);
  -ms-transform: translateZ(290px);
  transform: translateZ(290px);
}
.cd-floating-background img:nth-child(3) {
  -webkit-transform: translateZ(400px);
  -ms-transform: translateZ(400px);
  transform: translateZ(400px);
}
.no-preserve-3d .cd-floating-background {
  /* we target browsers that don't support preserve-3d and show just a standard image - no effect visible */
  position: relative;
}
/* end of section for 3D image */

#column2 img {
  width: 400px;
  max-width: 100%;
}
#about img {
	width: 250px;
	max-width: 100%;
}

#about, #characteristics, #threats {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.container figure {
  padding: 1% 2%;
  margin: 0 auto;
}

.container h1 {
  padding: 2% 1%;
}

.container h2 {
  padding: 1% 2%;
}

.container p {
  padding: 1% 2%;
}

.grid {
  padding-bottom: 2%;
}

.column {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#column1 {
	flex: 3;
}

#column2 {
	flex: 1;
}

.break {
  height: 100px;
  opacity: 100%;
}

#tooltip
{
    text-align: center;
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100;
    padding: 15px;
}

    #tooltip:after /* triangle decoration */
    {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #111;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;
    }

        #tooltip.top:after
        {
            border-top-color: transparent;
            border-bottom: 10px solid #111;
            top: -20px;
            bottom: auto;
        }

        #tooltip.left:after
        {
            left: 10px;
            margin: 0;
        }

        #tooltip.right:after
        {
            right: 10px;
            left: auto;
            margin: 0;
        }

/* pop up winfow section */
#overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #000;
filter:alpha(opacity=70);
-moz-opacity:0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
z-index: 100;
display: none;
}
.cnt223 a{
text-decoration: none;
}
.popup{
width: 100%;
margin: 0 auto;
display: none;
position: fixed;
z-index: 101;
}
.cnt223{
min-width: 600px;
width: 600px;
min-height: 150px;
margin: 100px auto;
background: white;
position: relative;
z-index: 103;
padding: 15px 35px;
border-radius: 5px;
box-shadow: 0 2px 5px #000;
}

.cnt223 h1 {
	color: green;
	font-size: 2em;
}
.cnt223 p{
clear: both;
    color: #555555;
    /* text-align: justify; */
    font-size: 20px;
    font-family: sans-serif;
}
.cnt223 p a{
color: green;
font-weight: bold;
}
.cnt223 .x{
float: right;
height: 35px;
left: 22px;
position: relative;
top: -25px;
width: 34px;
}
.cnt223 .x:hover{
cursor: pointer;
}

/* end of popup window section */

/* for button links */
.button {
  border-radius: 4px;
  background-color: #001426;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1em;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/*end of button links */

footer p {
	background-color: #001426;
	color: #ffffff;
	height: 10%;
	text-align: center;
	padding: 2% 0 2% 0;
}

@media (min-width: 600px) {
	.grid figure {
		width: 50%;
	}

  .column {
    display: flex;
    flex-direction: row;
    height: 100%;
    box-sizing: border-box;
  }
  #column1 {
    flex: 2;
  }

  #column2 {
    flex: 1;
    padding: 2%;
  }
}

@media (min-width: 900px) {
  .grid figure {
    width: 33.33%;
  }
}

@media screen and (max-width: 1100px) {
       nav {
          width: 90%;
          right: -90%;
      }
  }

  @media (min-width: 1200px) {
    .grid figure {
      width: 25%;
    }
}
